@page "/orderbook"
@using Common.Extensions;

@inject HttpClient Http
@inject OrderBookManager _orderBook
@inject ConfigManager _configManager
<PageTitle>Order Book</PageTitle>


@if (_OrderBooks is not null && _OrderBooks.Count > 0)
{
    <section class="text-center container mb-5">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Order Book Selection</h1>

                <div class="row">
                    <div class="col-8">
                        <select id="orderBookSelect" class="form-select" aria-label="Select order book to display" @onchange="OnChangeOrderBook">

                            @foreach (var item in _OrderBooks)
                            {

                                if (@item.Currency == _selectedValue.Currency)
                                {
                                    <option value="@item.Currency" selected>@item.Currency.HexToString()</option>
                                }
                                else
                                {
                                    <option value="@item.Currency">@item.Currency.HexToString()</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-auto mt-auto">
                        <HxCheckbox @bind-Value="_isAdvancedChecked" Text="Advanced config" />
                    </div>
                </div>

                @if (_isAdvancedChecked)
                {

                    <div class="row mt-5">            
                        <div class="col">
                            <HxInputNumber TValue="int" @bind-Value="_minTotalSellTransactions" Label="Min Sell transactions (total)" LabelCssClass="float-start" />
                        </div>
                    </div>
                    <div class="row mt-3">                        
                        <div class="col"><HxInputNumber TValue="int" @bind-Value="_minTotalSellAmount" Label="Total min sell amount" LabelCssClass="float-start" /></div>
                    </div>
                    <div class="row mt-3">

                        <div class="col"><HxInputPercent TValue="decimal" @bind-Value="_priceRangeDiffPercentage" Min="0" Max="100" Label="Price range margin allowed tollerance" LabelCssClass="float-start" /></div>
                    </div>
                    <div class="row mt-3">

                        <div class="col"><HxInputRange @bind-Value="_selectedOrderBookDepth" Min="5" Max="200" Step="5" Label="Order book depth" LabelCssClass="float-start" /><span class="float-end">@_selectedOrderBookDepth</span></div>
                    </div>









                }
                @if (_selectionChanged || _isAdvancedChecked)
                {
                    <div class="row">
                        <div class="col">

                            <button type="button" class="btn btn-success" @onclick="UpdateOrderBookData">Update</button>

                        </div>
                    </div>
                }



            </div>
        </div>
    </section>

}

<div class="album py-5 bg-light">
    <div class="container">
        @if (_loading)
        {
            <div style="display:grid;place-items:center;margin-top:10%" class="mb-3">
                <span class="loader">Fetching order book details from XRPL</span>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-auto m-4">
                </div>
            </div>
            @if (!_isAdvancedChecked)
            {
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="text-danger my-0 fw-normal">@_selectedValue.IssuerName Sell Orderbook</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>

                                                <th scope="col">
                                                    <span role="button" class="sort-link" onclick="@(() => SortTableSellOrders("Price"))"><small>Price</small></span>
                                                    <span class="fa @(GetSortStyleSellOrders("Price"))"></span>
                                                </th>
                                                <th scope="col">
                                                    <span role="button" class="sort-link" onclick="@(() => SortTableSellOrders("Volume"))"><small>Sell amount</small></span>
                                                    <span class="fa @(GetSortStyleSellOrders("Volume"))"></span>
                                                </th>
                                                <th scope="col">
                                                    <span role="button" class="sort-link" onclick="@(() => SortTableSellOrders("Total"))"><small>Receive</small></span>
                                                    <span class="fa @(GetSortStyleSellOrders("Total"))"></span>
                                                </th>

                                                <th scope="col">
                                                    <span role="button" class="sort-link" onclick="@(() => SortTableSellOrders("Account"))"><small>Account</small></span>
                                                    <span class="fa @(GetSortStyleSellOrders("Account"))"></span>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in _sellOrders)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (@item.Price.ToString("N6").EndsWith("0"))
                                                        {
                                                            <span class="badge text-danger">@item.Price.ToString("N10")</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge text-danger">@item.Price.ToString("N6")</span>
                                                        }

                                                    </td>
                                                    <td>
                                                        <span class="badge text-danger">@item.Volume.ToString("N6")&nbsp;@item.Currency.HexToString()</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge text-success">@item.Total.ToString("N6")&nbsp;XRP</span>
                                                    </td>

                                                    <td>
                                                        <a class="badge text-muted" href="@($"accountinfo?acc={item.Account}")" target="_blank">@item.Account.Truncate(12,true)</a>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <div class="card rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="text-success my-0 fw-normal">@_selectedValue.IssuerName Buy Orderbook</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <span role="button" class="sort-link" onclick="@(() => SortTableBuyOrders("Price"))"><small>Price</small></span>
                                                    <span class="fa @(GetSortStyleBuyOrders("Price"))"></span>
                                                </th>
                                                <th scope="col">
                                                    <span role="button" class="sort-link" onclick="@(() => SortTableBuyOrders("Total"))"><small>Buy amount</small></span>
                                                    <span class="fa @(GetSortStyleBuyOrders("Total"))"></span>
                                                </th>
                                                <th scope="col">
                                                    <span role="button" class="sort-link" onclick="@(() => SortTableBuyOrders("Volume"))"><small>Pay</small></span>
                                                    <span class="fa @(GetSortStyleBuyOrders("Volume"))"></span>
                                                </th>

                                                <th scope="col">
                                                    <span role="button" class="sort-link" onclick="@(() => SortTableBuyOrders("Account"))"><small>Account</small></span>
                                                    <span class="fa @(GetSortStyleBuyOrders("Account"))"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in _buyOrders)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (@item.Price.ToString("N6").EndsWith("0"))
                                                        {
                                                            <span class="badge text-success">@item.Price.ToString("N10")</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge text-success">@item.Price.ToString("N6")</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <span class="badge text-success">@item.Total.ToString("N6")&nbsp;@item.Currency.HexToString()</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge text-danger">@item.Volume.ToString("N6")&nbsp;XRP</span>
                                                    </td>

                                                    <td>
                                                        <a class="badge text-muted" href="@($"accountinfo?acc={item.Account}")" target="_blank">@item.Account.Truncate(12,true)</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    @if (_sellWalls is not null)
                    {
                        @foreach (var sellwall in _sellWalls)
                        {


                            <div class="col-lg-12 mb-4">
                                <div class="card shadow mb-4">
                                    <div class="card rounded-3 shadow-sm">
                                        @if (@sellwall.Average(x => x.Price).ToString("N6").EndsWith("0"))
                                        {
                                            <h4 class="text-danger my-0 fw-normal"><a class="badge text-muted" href="@($"accountinfo?acc={sellwall.First().Account}")" target="_blank">@sellwall.First().Account</a> Sell Wall at @sellwall.Average(x=>x.Price).ToString("N13") XRP</h4>
                                        }
                                        else
                                        {
                                            <h4 class="text-danger my-0 fw-normal"><a class="badge text-muted" href="@($"accountinfo?acc={sellwall.First().Account}")" target="_blank">@sellwall.First().Account</a> Sell Wall at @sellwall.Average(x=>x.Price).ToString("N6") XRP</h4>
                                        }
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">
                                                            <small>Price</small>
                                                        </th>
                                                        <th scope="col">
                                                            <small>Sell amount</small>
                                                        </th>
                                                        <th scope="col">
                                                            <small>Receive</small>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in sellwall)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (@item.Price.ToString("N6").EndsWith("0"))
                                                                {
                                                                    <span class="badge text-danger">@item.Price.ToString("N13")</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge text-danger">@item.Price.ToString("N6")</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                <span class="badge text-muted">@item.Volume.ToString("N0")&nbsp;@item.Currency.HexToString()</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge text-muted">@item.Total.ToString("N0")&nbsp;XRP</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3">Selling @sellwall.Sum(x=>x.Volume).ToString("N0")&nbsp;@sellwall.First().Currency.HexToString() for @sellwall.Sum(x=>x.Total).ToString("N0")&nbsp;XRP</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</div>





@code {
    private bool _loading = true;
    private bool _selectionChanged = false;
    private bool _isAdvancedChecked = false;
    private decimal _priceRangeDiffPercentage = 0.20m;
    private int _minTotalSellAmount = 20000;
    private int _minTotalSellTransactions = 3;
    // private bool _sellWallFilterEnabled = false;
    // private List<AccountOrderBook> _orders = new List<AccountOrderBook>();
    private List<OrderBook> _buyOrders;
    private List<OrderBook> _sellOrders;
    private List<List<OrderBook>> _sellWalls;

    //the table is currently sorted by
    private bool IsSortedAscendingSellOrders;
    private bool IsSortedAscendingBuyOrders;

    //We also need a field to tell us which column the table is sorted by.
    private string CurrentSortColumnSellOrders;
    private string CurrentSortColumnBuyOrders;



    private List<OrderBookProject> _OrderBooks;
    private int[] _OrderBookDepth = { 5, 10, 25, 50, 100, 150, 200 };

    private OrderBookProject _selectedValue = new OrderBookProject();
    private int _selectedOrderBookDepth { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await _configManager.ClearLocalStore();
        await Init();
        await GetOrderBookData();

    }



    protected async Task Init()
    {
        _OrderBooks = await _configManager.GetOrderBookProjectSettings();
        _OrderBooks = _OrderBooks.Where(x => x.IsActive).ToList();
        _selectedValue = _OrderBooks.Where(x => x.IsDefault).First();
        _selectedOrderBookDepth = 50;
    }

    public async Task OnChangeOrderBook(ChangeEventArgs e)
    {

        if (e is not null && (!string.IsNullOrWhiteSpace(e.Value?.ToString())))
        {
            _selectedValue = _OrderBooks.FirstOrDefault(x => x.Currency == e.Value.ToString());
            _selectionChanged = true;
            resetOrderBooks();
            //if (selectedValue is not null)
            //{
            //    await GetOrderBookData(selectedValue.IssuerAccount, selectedValue.Currency);
            //}

        }
    }

    public async Task OnChangeAdvancedCheck(ChangeEventArgs e)
    {

    }

    public async Task OnChangeOrderDepth(ChangeEventArgs e)
    {

        if (e is not null && (!string.IsNullOrWhiteSpace(e.Value?.ToString())) && int.TryParse(e.Value?.ToString(), out int orderBookDepth))
        {
            if (_selectedOrderBookDepth > orderBookDepth)
            {
                _selectedOrderBookDepth = orderBookDepth;
                _sellOrders = _sellOrders.Take(_selectedOrderBookDepth).ToList();
                _buyOrders = _buyOrders.Take(_selectedOrderBookDepth).ToList();
                StateHasChanged();
            }
            else
            {
                _selectedOrderBookDepth = orderBookDepth;
                _selectionChanged = true;
            }
            //if (selectedValue is not null && _orderBookDepth > 0)
            //{
            //    await GetOrderBookData(selectedValue.IssuerAccount, selectedValue.Currency);
            //}

        }
    }

    private void resetOrderBooks()
    {
        //_orders = new List<AccountOrderBook>();
        _sellOrders = new List<OrderBook>();
        _buyOrders = new List<OrderBook>();
        _sellWalls = new List<List<OrderBook>>();
        // _sellWallFilterEnabled = false;
    }

    private async Task UpdateOrderBookData(MouseEventArgs e)
    {
        await GetOrderBookData();
    }
    private async Task GetOrderBookData()
    {
        _loading = true;
        _selectionChanged = false;
        var tasks = new List<Task<List<OrderBook>>>();
        //if (_orders is null)
        //{
        //    _orders = new List<AccountOrderBook>();
        //}





        if (_isAdvancedChecked)
        {
            var sellCancellationTokenSource = new CancellationTokenSource(new TimeSpan(0, 0, 30));
            var sellOrders = await _orderBook.GetOrderBook(_selectedValue.IssuerAccount, _selectedValue.Currency, Enums.OrderType.Sell, sellCancellationTokenSource, "wss://xrplcluster.com", _selectedOrderBookDepth);
            var filteredItems = sellOrders.GroupBy(x => x.Account).Where(grp => grp.Count() >= _minTotalSellTransactions);
            _sellWalls = new List<List<OrderBook>>();
            foreach (var groupedAccounts in filteredItems)
            {

                Decimal initialCompareprice = 0;
                List<OrderBook> sellWall = new List<OrderBook>();
                OrderBook? previousOrder = null;

                var groupedSellOrders = groupedAccounts.OrderBy(x => x.Price);
                var itemsLeft = groupedSellOrders.Count();
                foreach (var sellOrder in groupedSellOrders)
                {
                    if (itemsLeft == 0 && previousOrder is null)
                    {
                        //finish up
                    }


                    if (previousOrder is null)
                    {
                        previousOrder = new OrderBook()
                            {
                                Account = sellOrder.Account,
                                AccountAlias = sellOrder.AccountAlias,
                                Currency = sellOrder.Currency,
                                Issuer = sellOrder.Issuer,
                                OrderSummary = sellOrder.OrderSummary,
                                Price = sellOrder.Price,
                                Side = sellOrder.Side,
                                Total = sellOrder.Total,
                                Volume = sellOrder.Volume
                            };
                        initialCompareprice = previousOrder.Price;
                        sellWall.Add(previousOrder);

                        if (itemsLeft == 1)
                        {
                            _sellWalls.Add(sellWall);
                        }
                    }
                    else
                    {


                        //check if price difference is within given margin
                        //margin is calculated as follows


                        var allowedMargin = (_priceRangeDiffPercentage * initialCompareprice);
                        var upperPriceAllowed = initialCompareprice + allowedMargin;
                        var underPriceAllowed = initialCompareprice - allowedMargin;

                        //if (sellOrder.Price - initialCompareprice <= _priceRangeDiff)
                        if(sellOrder.Price >= underPriceAllowed && sellOrder.Price <= upperPriceAllowed)
                        {
                            sellWall.Add(sellOrder);
                            if (itemsLeft == 1)
                            {
                                _sellWalls.Add(sellWall);
                            }
                        }
                        else
                        {
                            //reset
                            initialCompareprice = 0m;
                            _sellWalls.Add(sellWall);
                            sellWall = new List<OrderBook>();

                            previousOrder = new OrderBook()
                                {
                                    Account = sellOrder.Account,
                                    AccountAlias = sellOrder.AccountAlias,
                                    Currency = sellOrder.Currency,
                                    Issuer = sellOrder.Issuer,
                                    OrderSummary = sellOrder.OrderSummary,
                                    Price = sellOrder.Price,
                                    Side = sellOrder.Side,
                                    Total = sellOrder.Total,
                                    Volume = sellOrder.Volume
                                };
                            initialCompareprice = previousOrder.Price;
                            sellWall.Add(previousOrder);
                        }
                    }

                    itemsLeft--;


                }
            }
            if (_sellWalls is not null)
            {
                //remove sell walls which do not meet the overall criteria
                List<List<OrderBook>> WallsToRemove = new List<List<OrderBook>>();
                foreach (var sellWall in _sellWalls)
                {
                    if (sellWall.Count() < _minTotalSellTransactions || sellWall.Sum(x => x.Volume) < _minTotalSellAmount)
                    {
                        WallsToRemove.Add(sellWall);
                        //_sellWalls.Remove(sellWall);
                    }
                }

                foreach (var item in WallsToRemove)
                {
                    _sellWalls.Remove(item);
                }

            }
        }
        else
        {
            var buyCancellationTokenSource = new CancellationTokenSource(new TimeSpan(0, 0, 30));
            _buyOrders = await _orderBook.GetOrderBook(_selectedValue.IssuerAccount, _selectedValue.Currency, Enums.OrderType.Buy, buyCancellationTokenSource, "wss://xrplcluster.com", _selectedOrderBookDepth);
            var sellCancellationTokenSource = new CancellationTokenSource(new TimeSpan(0, 0, 30));
            _sellOrders = await _orderBook.GetOrderBook(_selectedValue.IssuerAccount, _selectedValue.Currency, Enums.OrderType.Sell, sellCancellationTokenSource, "wss://xrplcluster.com", _selectedOrderBookDepth);
        }
        _loading = false;

    }

    private string GetSortStyleSellOrders(string columnName)
    {
        if (CurrentSortColumnSellOrders != columnName)
        {
            return string.Empty;
        }
        if (IsSortedAscendingSellOrders)
        {
            return "fa-sort-up";
        }
        else
        {
            return "fa-sort-down";
        }
    }

    private string GetSortStyleBuyOrders(string columnName)
    {
        if (CurrentSortColumnBuyOrders != columnName)
        {
            return string.Empty;
        }
        if (IsSortedAscendingBuyOrders)
        {
            return "fa-sort-up";
        }
        else
        {
            return "fa-sort-down";
        }
    }

    private void SortTableSellOrders(string columnName)
    {

        if (columnName != CurrentSortColumnSellOrders)
        {
            //We need to force order by descending on the new column
            _sellOrders = _sellOrders.OrderBy(x => x.GetType()
                                        .GetProperty(columnName)
                                        .GetValue(x, null))
                            .ToList();
            CurrentSortColumnSellOrders = columnName;
            IsSortedAscendingSellOrders = true;

        }
        else //Sorting against same column but in different direction
        {
            if (IsSortedAscendingSellOrders)
            {
                _sellOrders = _sellOrders.OrderByDescending(x => x.GetType()
                                                            .GetProperty(columnName)
                                                            .GetValue(x, null))
                                .ToList();
            }
            else
            {
                _sellOrders = _sellOrders.OrderBy(x => x.GetType()
                                            .GetProperty(columnName)
                                            .GetValue(x, null))
                                .ToList();
            }

            IsSortedAscendingSellOrders = !IsSortedAscendingSellOrders;
        }
    }

    private void SortTableBuyOrders(string columnName)
    {

        if (columnName != CurrentSortColumnBuyOrders)
        {
            //We need to force order by descending on the new column
            _buyOrders = _buyOrders.OrderBy(x => x.GetType()
                                        .GetProperty(columnName)
                                        .GetValue(x, null))
                            .ToList();
            CurrentSortColumnBuyOrders = columnName;
            IsSortedAscendingBuyOrders = true;

        }
        else //Sorting against same column but in different direction
        {
            if (IsSortedAscendingBuyOrders)
            {
                _buyOrders = _buyOrders.OrderByDescending(x => x.GetType()
                                                            .GetProperty(columnName)
                                                            .GetValue(x, null))
                                .ToList();
            }
            else
            {
                _buyOrders = _buyOrders.OrderBy(x => x.GetType()
                                            .GetProperty(columnName)
                                            .GetValue(x, null))
                                .ToList();
            }

            IsSortedAscendingBuyOrders = !IsSortedAscendingBuyOrders;
        }
    }
}